@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');
@font-face {
    font-family: 'Kisba Black';
    src: url('../fonts/kisba-black-webfont.woff2') format('woff2'),
         url('../fonts/kisba-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    background: rgb(30,21,42);
    color: #fff;
    margin-top: 60px;
    line-height: 1.5;
    font-size: 18px;
}
body main p {
    margin: 15px 0 0;
}
body main ul {
    padding-left: 30px;
}
body main a {
    text-decoration-color: #00aec7;
    text-decoration-thickness: 3px;
}
@media (min-width: 768px) {
    body {
        margin-top: 0;
    }
}
@media (min-width: 992px) {
    body main p {
        margin: 25px 0 0;
    }
}

.container {
    max-width: 1350px;
    width: 100%;
    margin: auto;
    padding: 0 25px;
}
.container.sm {
    max-width: 850px;
}

@media (min-width: 1500px) {
    .container {
        padding: 0;
    }
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Kisba Black', serif;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 32px;
}
h4 {
    font-size: 28px;
}
h5 {
    font-size: 24px;
}
h6 {
    font-size: 20px;
}

@media (min-width: 992px) {
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 44px;
    }
    h3 {
        font-size: 38px;
    }
    h4 {
        font-size: 32px;
    }
    h5 {
        font-size: 26px;
    }
    h6 {
        font-size: 22px;
    }
}

@media (min-width: 1350px) {
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 52px;
    }
    h3 {
        font-size: 44px;
    }
    h4 {
        font-size: 36px;
    }
    h5 {
        font-size: 28px;
    }
    h6 {
        font-size: 24px;
    }
}

/* Links & Buttons */
a:not([class]) {
    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
    a:not([class]):hover,
    a:not([class]):focus {
        opacity: 0.5;
    }

.btn {
    padding: 10px 20px;
    text-transform: uppercase;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    text-decoration: none;
    background: #fff;
    color: #1E152A;
    display: inline-block;
    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    line-height: 1;
    margin-top: 15px;
}
    .btn:hover,
    .btn:focus {
        opacity: 0.5;
    }

.btn.sm {
    padding: 6px 12px;
    font-size: 14px;
}

/* Header */
header#site-header {
    background: rgba(30, 21, 42, 0.9);
    padding: 10px 25px;
    display: flex;
    align-items: center;
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
header#site-header .logo img {
    width: 100px;
    height: 40px;
}
header#site-header .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
}
    header#site-header nav.main-nav {
        display: none;
        flex-direction: row;
        align-items: center;
        font-family: "Inter", sans-serif;
    }
    header#site-header nav.main-nav ul {
        list-style: none;
        display: flex;
        flex-direction: row;
    }
        header#site-header nav.main-nav ul li {
            margin-left: 20px;
        }
            header#site-header nav.main-nav ul li a {
                text-decoration: none;
                text-transform: uppercase;
            }
    header#site-header .cta {
        margin-left: 40px;
    }
        header#site-header .cta .btn {
            margin: 0;
        }

@media (min-width: 768px) {
    header#site-header {
        padding: 15px;
        height: 100px;
    }
    header#site-header .logo img {
        width: 175px;
        height: 70px;
    }
    header#site-header .container {
        justify-content: space-between;
    }
    header#site-header nav.main-nav {
        display: flex;
    }
}

/* Footer */
footer#site-footer {
    padding: 100px 20px;
    background: #110c18;
}
footer#site-footer .footer-logo {
    margin-bottom: 60px;
}
footer#site-footer .footer-logo img {
    width: 50px;
    height: 50px;
    margin: auto;
}
footer#site-footer .socials {
    font-size: 30px;
    text-align: center;
}
    footer#site-footer .socials ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        list-style: none;
        margin: 0;
        justify-content: center;
    }
    footer#site-footer .socials ul li {
        margin: 0 15px;
    }

/* Banners */
.banner.takeover {
    min-height: calc(100vh - 60px);
    height: calc(100vh - 60px);
}

.banner .container {
    display: flex;
    flex-direction: column;
    justify-content:center;
    height: 100%;
}

@media (min-width: 992px) {
    .banner.takeover {
        min-height: calc(100vh - 100px);
        height: calc(100vh - 100px);
    }
}

/* Interior Title Banners */
.title-banner {
    padding: 80px 20px;
    background: #110c18;
}

.title-banner .secondary-heading {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 20px;
    color: rgba(255,255,255,0.25);
}

.title-banner h1 {
    font-family: 'Kisba Black', serif;
    color: #ffb70d;
}

.title-banner p {
    margin-top: 15px;
    font-size: 24px;
}

@media (min-width: 992px) {
    .title-banner {
        padding: 120px 20px;
    }
}

.banner.home-feature,
.banner.home-feature .slider,
.banner.home-feature .slick-track,
.banner.home-feature .slick-list {
    min-height: calc(100vh - 60px);
    height: calc(100vh - 60px);
    /* overflow-x: hidden;
    overflow-y: scroll; */
}

.banner.home-feature .container {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    z-index: 999;
}

.banner.home-feature .slider .image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.banner.home-feature .slider .image .credit {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 14px;
    z-index: 999;
}

.banner.home-feature p.heading.hero {
    font-family: 'Kisba Black', serif;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
    font-size: 50px;
    line-height: 1;
    display: block;
}
@media (min-width: 400px) {
    .banner.home-feature p.heading.hero {
        font-size: 70px;
    }
}
@media (min-width: 500px) {
    .banner.home-feature p.heading.hero {
        font-size: 90px;
    }
}
@media (min-width: 576px) {
    .banner.home-feature p.heading.hero {
        font-size: 100px;
    }
}
@media (min-width: 768px) {
    .banner.home-feature,
    .banner.home-feature .slider,
    .banner.home-feature .slick-track,
    .banner.home-feature .slick-list {
        min-height: 100vh;
        height: 100vh;
    }
    .banner.home-feature p.heading.hero {
        font-size: 140px;
    }
}
@media (min-width: 992px) {
    .banner.home-feature p.heading.hero {
        font-size: 180px;
    }
}
@media (min-width: 1200px) {
    .banner.home-feature p.heading.hero {
        font-size: 200px;
    }
}

/* Blog Listings */
.blog-listing .component-inner {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 576px;
    margin: 60px auto;
}
.blog-listing .item {
    width: 100%;
    background: rgba(255,255,255,0.1);
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 25px;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
    .blog-listing .item:hover, .blog-listing .item:focus {
        background: rgba(255,255,255,0.05);
    }
.blog-listing .item .image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.blog-listing .item .image .category {
    position: absolute;
    top: 20px;
    left: 20px;
    background: #fff;
    color: #202020;
    padding: 8px 12px;
    line-height: 1;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.blog-listing .item .image img {
    opacity: 0;
}
.blog-listing .item .text {
    padding: 20px;
    text-align: center;
}
.blog-listing .item .text .date {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: 15px;
    border-bottom: 1px solid #202020;
}
.blog-listing .item .text .heading {
    font-family: "Kisba Black";
    margin: 30px 0;
    font-size: 24px;
}
.blog-listing .item .text .read-story {
    border-top: 1px solid #202020;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    padding-top: 15px;
}

@media (min-width: 768px) {
    .blog-listing .component-inner {
        max-width: 1200px;
    }
    .blog-listing .item {
        width: 45%;
        background: rgba(255,255,255,0.1);
        border-radius: 15px;
        overflow: hidden;
        margin-bottom: 25px;
    }
}

@media (min-width: 1350px) {
    .blog-listing .item {
        margin-bottom: 40px;
    }
}

/* Blog Post */
.blog-post {
    max-width: 992px;
    margin: 120px auto;
    display: flex;
    flex-direction: column;
}
.blog-post .post-content {
    padding: 0 25px;
    order: 1;
}
.blog-post .post-content h1 {
    margin: 20px 0;
}
.blog-post .post-content hr {
    margin: 40px 0;
}
.blog-post .post-content img {
    margin: 20px 0 0;
}
.post-content .post-date,
.post-content .post-categories {
    margin-bottom: 10px;
    font-family: "Inter", sans-serif;
    display: inline-block;
    margin: 0 20px 0 0;
    font-size: 14px;
}
.author-card {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
}
.author-card .bio {
    width: 80%;
}
.post-footer .secondary-heading {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #999;
    margin-bottom: 15px;
}
.author-card .bio .heading {
    font-family: "Kisba Black", serif;
    font-weight: 24px;
}
.author-card .bio p:not(.secondary-heading):not(.heading) {
    font-size: 14px;
    margin: 10px 0 0;
    font-family: "Inter", sans-serif;
}
.author-card .bio .socials {
    margin-top: 20px;
}
.author-card .bio .socials ul {
    list-style: none;
    padding-left: 0;
}
    .author-card .bio .socials ul li {
        display: inline-block;
        margin-right: 10px;
    }
.author-card .headshot {
    max-width: 250px;
    margin-bottom: 20px;
}
.blog-post .sidebar.left {
    order: 2;
}
.blog-post .sidebar.right {
    order: 3;
}

@media (min-width: 768px) {
    .author-card {
        flex-direction: row;
    }
    .author-card .headshot {
        max-width: 250px;
        width: 20%;
        margin-bottom: 0;
        margin-left: 20px;
    }
}

@media (min-width: 992px) {
    .blog-post .post-content h1 {
        margin: 40px 0;
    }
    .blog-post .post-content img {
        margin: 30px 0 0;
    }
}

@media (min-width: 1500px) {
    .blog-post {
        max-width: 1500px;
    }
    .blog-post .post-content {
        order: 2;
        width: calc(100% - 600px);
        margin: auto;
    }
    .blog-post .sidebar.left {
        order: 1;
        width: 300px;
    }
    .blog-post .sidebar.right {
        order: 3;
        width: 300px;
    }
}

/* Forms */
.contact-form {
    padding: 80px 20px;
    color: #1E152A;
    background: rgba(30,21,42,0.9);
}
    .contact-form:before {
        content:'';
        display: block;
        width: 100%;
        height: 50%;
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #110c18;
    }
    .contact-form .container {
        background: #ffffff;
        padding: 25px;
        border-radius: 15px;
        margin: auto;
    }
        .contact-form .container h2 {
            margin-bottom: 15px;
        }
    .contact-form form {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin-top: 30px;
    }
        .contact-form .form-item {
            width: 100%;
            margin-bottom: 15px;
        }
        .contact-form .form-item:nth-of-type(6) {
            margin-bottom: 0;
        }
            .contact-form .form-item label {
                display: block;
                margin-bottom: 5px;
            }
            .contact-form .form-item input,
            .contact-form .form-item textarea {
                display: block;
                border: 1px solid #ccc;
                border-radius: 5px;
                min-height: 50px;
                padding: 10px;
                width: 100%;
            }
            .contact-form .form-item textarea {
                min-height: 100px;
            }

@media (min-width: 768px) {
    .contact-form form {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .contact-form .form-item {
        width: 48%;
    }
    .contact-form .form-item:nth-of-type(5),
    .contact-form .form-item:nth-of-type(6) {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .contact-form {
        padding: 120px 20px;
    }

    .contact-form .container {
        padding: 50px;
    }
}