---
layout: default
---


    <div class="blog-post">
        <div class="sidebar left"></div>
        <div class="post-content">
            <div class="post-meta">
                <div class="post-date">
                    <i class="bi bi-calendar"></i> {{ post.date | date: "%B %d, %Y" }}
                </div>
                <div class="post-categories">
                    <i class="bi bi-folder"></i> <a href="/categories/idaho-state-parks">Idaho State Parks</a>
                </div>
            </div>

            {{ content }}

            <hr>
            <div class="post-footer">
                <p class="secondary-heading">About the Author</p>
                <div class="author-card">
                    <div class="bio">
                        <p class="heading">Kyle Clay Richards</p>
                        <p>Kyle was born, raised, and currently lives in Eastern Idaho. He received his Bachelor of Fine Arts in studio art and design with an emphasis in graphic design at the University of Idaho and now works as a full-time web designer in Idaho Falls.</p>
                        <p>He has spent the majority of his life in Eastern Idaho, but attending college up north and having friends scattered throughout Central Idaho, he has had the opportunity to experience a variety of Idaho landscapes. Running around the Greenbelt in Idaho Falls, kayaking under the Perrine Bridge in Twin Falls, and watching the Independence Day fireworks on Lake Coeur d'Alene are some of his favorite memories, but he still feels like he has barely scratched the surface of what Idaho has to offer.</p>
                        <div class="socials">
                            <ul>
                                <li><a href="https://instagram.com/kyleclaydotcom" target="_blank"><i class="bi bi-instagram"></i></a></li>
                                <li><a href="https://www.linkedin.com/in/kyleclaydotcom/" target="_blank"><i class="bi bi-linkedin"></i></a></li>
                                <li><a href="hhttps://www.youtube.com/@kyleclaydotcom" target="_blank"><i class="bi bi-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="headshot">
                        <img src="../../../../images/kyle-clay-richards.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar right"></div>
    </div>